@model Blog.Models.UserViewModel

@{
    ViewBag.Title = "Show";
}
<div id="profile-header">
    @if (!ViewBag.IsCurrentUser)
    {
        <div class="follow-button pull-right">
            @if (Model.IsFollowing)
            {
                <button class="btn btn-info pull-right">Follow</button>
            }
            else
            {
                <button class="btn btn-info btn-sm pull-right">Unfollow</button>
            }
        </div>
    }
</div>

<div class="avatar-image center-block">

    <img class="img-circle center-block" width="128" height="128" src="@Url.Action("GetUserProfileImage", "Users", new {id = Model.Id})" />
</div>

<div class="profile-body container-fluid">
    <div class="posts-box">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a data-toggle="tab" href="#posts">Posts</a></li>
            <li role="presentation"><a data-toggle="tab" href="#likes">Likes</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="posts" class="tab-pane fade in active">
            @Html.Action("GetUserPosts", "Posts", new { name = Model.Name })
        </div>
        <div id="likes" class="tab-pane fade">
            @Html.Action("GetUserLikedPosts", "Posts", new { name = Model.Name })
        </div>
    </div>
</div>

<script>
    $(document)
        .ready(function () {
            if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');
            return $('a[data-toggle="tab"]')
                .on('shown',
                    function (e) {
                        return location.hash = $(e.target).attr('href').substr(1);
                    });
        });


    $(function () {
        $("#profile-header")
            .css("background-image", "url(@Url.Action("GetUserHeaderImage", "Users", new {id = Model.Id}))");

        @if (!ViewBag.IsCurrentUser)
        {
            if (ViewBag.isFollowing)
            {
                @:$(".avatar-image img").css("border", "3px solid green");
            }
            else
            {
                @:$(".avatar-image img").css("border", "3px solid red");
            }
        }
    });
</script>

<script>
    $(document).ready(function () {
        $("#profile-header .follow-button button")
            .click(function () {
                var self = this;
                if ($(this).text() == "Unfollow") {
                    console.log("yes");
                    $.ajax({
                        url: '@Url.Action("Unfollow", "Users", new { name = Model.Name})',
                        success: function (data) {
                            $(".avatar-image img").css("border", "3px solid red");
                            $(self).text("Follow");
                        }
                    });
                } else {
                    console.log("yes");
                    $.ajax({
                        url: '@Url.Action("Follow", "Users", new { name = Model.Name})',
                        success: function (data) {
                            $(".avatar-image img").css("border", "3px solid green");
                            $(self).text("Unfollow");
                        }
                    });
                }
            });
    });
</script>