@model Blog.Models.UserViewModel

@{
    ViewBag.Title = "Show";
}
<div id="profile-header" class="jumbotron">
    <div class="container">
        @if (!ViewBag.IsCurrentUser)
            {
                if (ViewBag.isFollowing)
                {
                @Html.ActionLink("Unfollow", "Unfollow", "Users", new { name = Model.Name }, null)
            }
            else
            {
                @Html.ActionLink("Follow", "Follow", "Users", new { name = Model.Name }, null)
            }
        }
        <img class="img-circle pull-left" width="128" height="128" src="@Url.Action("GetUserProfileImage", "Users", new {id = Model.Id})" />
        <div class="page-header">
            <h2>@Model.Name</h2>
        </div>
    </div>
</div>

<div class="profile-body container-fluid">
    <div class="posts-box">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a data-toggle="tab" href="#posts">Posts</a></li>
            <li role="presentation"><a data-toggle="tab" href="#likes">Likes</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="posts" class="tab-pane fade in active">
            @Html.Action("GetUserPosts", "Posts", new { name = Model.Name })
        </div>
        <div id="likes" class="tab-pane fade">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');
        return $('a[data-toggle="tab"]').on('shown', function (e) {
            return location.hash = $(e.target).attr('href').substr(1);
        });
    });

    $(function() {
        $("#profile-header")
            .css("background-image", "url(@Url.Action("GetUserHeaderImage", "Users", new {id = Model.Id}))").blur();
    })
</script>