@using System.Web.UI.HtmlControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -FollowMe!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FollowMe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                        <li>@Html.ActionLink("My Posts", "My", "Home")</li>
                        <li><a data-toggle="modal" data-url="/Posts/Create" class="btn btn-success btn-sm" id="btnCreate">Create</a></li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <div class="container-fluid body-content">
        <div class="container">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FollowMe</p>
        </footer>
    </div>
        
    <div class="modal fade" id="modalPopup">
        <div class="modal-dialog">
            
        </div>
    </div>
    <div id="popover-content-wrapper" style="display: none;">Loading...</div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document)
            .ready(function () {
                $("[data-toggle='modal']")
                    .click(function() {
                        $.ajax({
                            url: $(this).data("url"),
                            success: function(data) {
                                $(".modal-dialog").html(data);
                                $("#modalPopup").modal("show");
                                $.validator.unobtrusive.parse(".modal-dialog");
                            }
                        });
                    });


                $("[data-toggle='popover']")
                    .hover(function() {
                        var self = this;
                        $(self).off('hover');
                        var name = $(this).data("id");
                        $.ajax({
                            url: "/Users/PopulateHoverCard?name=" + name,
                            success: function(data) {
                                $(self)
                                    .popover({
                                        content: data,
                                        trigger: 'manual',
                                        position: 'auto bottom',
                                        html: true
                                    })
                                    .on("mouseenter",
                                        function() {
                                            var _this = this;
                                            $(this).popover('show');
                                            $(".popover")
                                                .on("mouseleave",
                                                    function() {
                                                        $(_this).popover("hide");
                                                    });
                                        })
                                    .on("mouseleave",
                                        function() {
                                            var _this = this;
                                            setTimeout(function() {
                                                    if (!$(".popover:hover").length) {
                                                        $(_this).popover("hide");
                                                    }
                                                },
                                                300);
                                        });
                            }
                        });
                    });
            });

        


    </script>

</body>

</html>
